<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="goods">

	<insert id="registerGoods">
		insert into goods(gds_name,gds_writer_id,gds_price,gds_descr,picture_url)
		values(#{gds_name},#{gds_writer_id},#{gds_price},#{gds_descr},#{picture_url})
	</insert>
	
	<select id="getAlllist" resultType="webprj.dto.goods.GoodsDTO"> 
		select * from goods 
	</select>
	
	<select id="getlist" resultType="webprj.dto.goods.GoodsDTO">
		select * from goods where gds_id=#{id}
	</select>
	
	<insert id="order">
		insert into cart(id,gds_id,amount) values(#{id},#{gds_id},#{amount})
	</insert>
	
	<select id="getOrderList" resultType="webprj.dto.cart.CartDTO">
		select c.cart_id,c.gds_id,g.gds_name,g.gds_price,c.amount,(g.gds_price * c.amount) money,g.picture_url
		from cart c join goods g on c.gds_id= g.gds_id where id=#{id}
	</select>
	
	<delete id="deleteOrderList">
		delete cart 
		where cart_id in
		<foreach collection="OrderList" item="list" open="(" close=")" separator=",">
			#{list}	
		</foreach> 
	</delete>
</mapper>