@import url("body-bgcolor.css");
@import url("header.css");


*{
    margin: 0;
    padding: 0;
}

.item-wrapper{
    width: 700px;
    margin: 0 auto; /* 嶺뚮씭�쐠壤쏉옙 �뜝�럡�룎�뜝�럥�뻿�뤆�룆�돭�뵳占� */

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

figure{
    display: inline-block; /* �솻洹ｌ굣占쎈데�뜝�럩踰� width,height�뤆�룆�돭�뵳占� */
    margin: 0 20px 20px 0 ;
    position: relative ; /* �뜝�럡�룎繞벿살탳�굢占� �뜝�룞�삕�뜝�럩逾졾뜝�룞�삕 �뜝�럩�겱占쎈뎨�뜝占� */
    width: 300px; /* �뜝�럩逾� �뜝�럡�뀬�뜝�럩逾좂춯�빢�삕 �뜝�럥�닱�뜝�럥�뱺�뜝�럡�맋 �뜝�럩逾졿쾬�꼶梨룟뜝�띁占쎈슔�걠雅뚭낀�삕占쎈펲�뜝�럩�굚�뜝�럥�닡�댖怨뺣엮占쎈펲 */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

/* figure:nth-child(2n+0){margin-right: 0;} */

img{
    display: block; /* �뜝�럩�겱占쎈뎨�뜝占� 占쎄껀�뜝�띁占쎄퀗�돯�뇡占썹춯濡녹삕 �뛾�룆理먲옙紐드슖�댙�삕 �뜝�럡���뜝�럩�졎�뤆�룊�삕�뇦猿딆뒭�뇡占썲뜝�럩�졎占썩뫅�삕 �뜝�럩逾좑옙寃ュ뜝�띂寃ヨ쥈�뫀堉꾢뜝�럥六삣뜝�럥�돵�솻洹ｋ뼬�뵳占�*/
    width: 100%;
    transform: scale(1);
    transition: all .3s linear; /* �뜝�럡�룎繞벿우삕 �뜝�럩逾졿쾬�꼶梨룟뜝�띁由곈겫�슦留꾢뜝�럥�닱�뜝�럥�뱺�뜝�럡�맋 占쎈슔�걠�뜝�뜴移곤옙�뒭�뇡占썹뼨�먯삕 */
}

figcaption{
    position: absolute; 
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
}

figcaption::before{
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,0.7);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
}

figcaption p,
figcaption h2{
    opacity: 0;
    position: relative;
    z-index: 4;
    transform: translateY(110px);
    transition: transform 0.5s linear;
}


figure:hover figcaption::before {opacity: 1;}
figure:hover p,
figure:hover h2{
    transform: translateY(0);
    opacity: 1;

}

figure:hover img{
    transform: scale(1.2);
}


			/* header */
.header-div{
	text-align:right;
	margin:10px 10px;
	
}

.no-decoration{
	text-decoration: none;
	cursor: pointer;
}

