<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="login" resultType="webprj.dto.member.MemberDTO">
		select name,PWD from PFMEMBER where id=#{id}
	</select>
	
		
	<select id="idcheck" resultType="int">
		select count(*) from PFMEMBER WHERE ID = #{id}
	</select>
	
	<select  id="find" resultType="webprj.dto.member.MemberDTO">
		select * from PFMEMBER where name=#{name} and email =#{email}
		<if test="id != '' ">
			and id = #{id}
		</if>
	</select>
	
	<select id="getMyInformation" resultType="webprj.dto.member.MemberDTO">
			select * from PFMEMBER where id=#{id}
	</select>
	
	<select id="changePwdWithId" resultType="String">
		SELECT PWD FROM PFMEMBER WHERE ID=#{id} 
	</select>
	
	<update id="changepwd">
		update pfmember set pwd=#{pw} where id=#{id}
	</update>
	
	<insert id="signup">
		insert into PFMEMBER(id,name,PWD,email) values(#{id},#{name},#{pwd},#{email})
	</insert>
	
	<select id="getMyGoods" resultType="webprj.dto.goods.GoodsDTO" >
		select * from (
		select row_number() over (order by gds_id desc) rank, s.* from (
		select goods.*, NVL(goods_count.quantity,0) AS QUANTITY from goods 
		left outer join goods_count 
		on goods.gds_id = goods_count.gds_id
		where gds_writer_id = #{id}) s
		) where rank between 1+(#{page}-1)*#{quantity} and #{page}*#{quantity}
	</select>
	
	<select id="getGoodsCount" resultType="int">
		select count(*) from goods where gds_writer_id=#{id}
	</select>
</mapper>