<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="login" resultType="webprj.dto.member.MemberDTO">
		select name,PWD from PFMEMBER where id=#{id}
	</select>
	
	<insert id="signup">
		insert into PFMEMBER(id,name,PWD,email) values(#{id},#{name},#{pwd},#{email})
	</insert>
		
	<select id="idcheck" resultType="int">
		select count(*) from PFMEMBER WHERE ID = #{id}
	</select>
	
	<select  id="find_id" resultType="webprj.dto.member.MemberDTO">
		select * from PFMEMBER where name=#{name} and email =#{email}
	</select>
</mapper>