<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="login" resultType="String">
		select name from pfmember where id=#{id} and pwd=#{pwd}
	</select>
	
	<insert id="signup">
		insert into pfmember(id,pwd,email) values(#{id},#{pwd},#{email})
	</insert>
		
</mapper>